extends ./_layout/layout

block header
  #header
    a.logo-link(href="/")
      img.logo(src="/img/logotype_blue.svg", alt="")
    if user
      .user-menu
        a.menu-item(href="/declarations") Ваши декларации
        a.username #{ user.email }
        .menu
          a(href="/declaration/new") Новая декларация
          a(href="/declarations") Ваши декларации
          a.grey(href="/logout") Выход
    else
      .authentificate-menu
        a.button.login(href='/login') Вход
        a.button.button--blue.signup(href='/signup') Регистрация
    .burger
      .burger-menu
        if user
          a.button(href="/declaration/new") Новая декларация
          a.button(href="/declarations") Ваши декларации
          a.button.grey(href="/logout") Выход
        else
          a.button.login(href='/login') Вход
          a.button.button--blue.signup(href='/signup') Регистрация
      a.round-button.round-button--white.burger-button(href="#")
        img.open(src="/img/icons/burger_open.svg")
        img.close(src="/img/icons/burger_close.svg")

block content
  #article
    h2 Политика обработки и защиты персональных данных
    h4.bold Общие положения
    ol
      li Настоящая Политика разработана в соответствии с Федеральным законом от 27.07.2006 г. № 152-ФЗ «О персональных данных» и иными нормативными актами и федеральными законами, действующими на территории Российской Федерации.
      li Настоящая Политика обработки и защиты персональных данных действует в отношении всей информации, которую Компания (ООО «Налоговые консультации», ОГРН: 1192130010874, юридический адрес: 428015, Чувашская Республика - Чувашия, город Чебоксары, улица Пирогова, дом 1 корпус 4, помещение/офис 4/3) (далее – “Компания”) может получить о пользователе/от пользователя, предоставляющего личную информацию или взаимодействующего с Компанией (далее – “Пользователь”, “Пользователи”) через веб-сайт https://top-tax.ru/ (далее – “Веб-сайт”), электронные письма или другие средства.
      li Используя Веб-сайт, Пользователь дает свое согласие на использование его персональных данных в соответствии с настоящей Политикой.
      li Настоящая Политика определяет порядок сбора, хранения, передачи и иных видов обработки персональных данных Компанией, получаемых через веб-сайт, а также сведения о реализуемых требованиях к защите персональных данных.
      li Компания обеспечивает безопасность персональной информации, получаемой от Пользователей. Настоящая Политика разработана с целью указания перечня данных, которые могут быть запрошены у Пользователей, а также способов обработки Компанией таких данных. В настоящей Политике также указаны цели, для которых может запрашиваться или разглашаться персональная информация Пользователей. Отдельными соглашениями с Пользователями могут быть предусмотрены иные цели, в которых может запрашиваться или разглашаться персональная информация Пользователей.
    h4.bold Состав персональных данных
    ol
      li Персональные данные Пользователя предоставляются самим Пользователем. Персональные данные, которые пользователь предоставляет при заполнении информационных полей на Веб-сайте, в том числе при заполнении контактной формы, а также персональные данные, которые пользователь предоставляет при заполнении запроса на предоставление услуг, который направляется Компании. Обязательная для предоставления (оказания) услуг информация явно обозначена. К такой информации отнесены: фамилия, имя и отчество, адрес электронной почты, почтовый адрес, контактный телефон и иная информация.
      li Персональные данные необходимы для предоставления электронного сервиса с использованием Веб-сайта, включая, но не ограничиваясь функциями по заполнению налоговой декларации по налогу на доходы для физических лиц по форме 3-НДФЛ, оказания услуг по проверке документов, доставки документов в налоговый орган, осуществления контроля качества оказываемых услуг.
      li Технические данные, которые автоматически передаются устройством, с помощью которого используется Веб-сайт, в том числе технические характеристики устройства, IP-адрес, информация, сохраненная в файлах «cookies», информация о браузере, дата и время доступа к Веб-сайту, адреса запрашиваемых страниц и иная подобная информация.
      li IP-адрес представляет собой номер, присваиваемый компьютеру Пользователя при каждом выходе в сеть интернет.
    h4.bold Цель обработки данных
    ol
      li Компания собирает и хранит только те персональные данные, которые необходимы для предоставления и оказания услуг. Персональную информацию Пользователя Компания может собирать, обрабатывать и использовать только в следующих целях:
        ul
          li направления консультаций, ответов, обратившимся лицам с помощью средств связи и указанных ими контактных данных;
          li предоставления электронного сервиса с использованием Веб-сайта, включая, но не ограничиваясь функциями по заполнению налоговой декларации по налогу на доходы для физических лиц по форме 3-НДФЛ, оказания услуг по проверке документов, доставки документов в налоговый орган,
          li продвижения услуг Компании на рынке путем осуществления прямых контактов с потенциальным потребителем с помощью средств связи (допускается только при условии предварительного согласия субъекта персональных данных),
          li коммуникации с Пользователем, когда пользователь обращается к Компании, в том числе по электронной почте, по телефону, по адресу, представленным соответствующим Пользователем;
          li выполнения полномочий и обязанностей, возложенных на Компанию законодательством Российской Федерации;
      li Компания обрабатывает технические данные для обеспечения функционирования и безопасности, улучшения качества Веб-сайта.
      li Компания не размещает персональные данные Пользователя в общедоступных источниках. Компания не принимает решений, порождающих для Пользователя юридические последствия или иным образом затрагивающих права и законные интересы Пользователя на основании исключительно автоматизированной обработки персональных данных.
      li При сборе персональных данных, в том числе посредством информационно-телекоммуникационной сети «Интернет», Компания обязана обеспечить запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение персональных данных граждан Российской Федерации с использованием баз данных, находящихся на территории Российской Федерации
    h4.bold Конфиденциальность информации и персональных данных
    ol
      li Все обрабатываемые Компанией персональные данные являются конфиденциальной, строго охраняемой информацией в соответствии с законодательством. Компания обязана не раскрывать третьим лицам и не распространять персональные данные без согласия Пользователя, если иное не предусмотрено федеральным законом.
      li Любая информация, переданная Пользователю Компанией или переданная Компании Пользователем в связи с использованием Сайта, считается информацией, содержащей коммерческую тайную
      li Понятие коммерческой тайны по п.4.2. Политики включает, без ограничения, всю информацию, в том числе информацию, полученную из деловых писем, телефонных переговоров, почтовых, телеграфных, факсимильных, электронных и иных сообщений, переданных электронным или почтовым способом, а также любую информацию при условии, что она может рассматриваться как коммерческая тайна по действующему законодательству, в том числе личную информацию о Компании или Пользователе и сотрудниках Компании; информацию о контрагентах, партнерах, переговорах; о любых будущих, текущих или совершенных сделках или операциях; о любых договорах или соглашениях, их предмете, содержании, цене или других существенных условиях; информацию о текущих и прочих банковских счетах, открытых в любых кредитных организациях, включая счета в иностранных банках, выписки и ликвидные капиталы, текущие балансы; любую техническую информацию или данные, секреты производства (ноу-хау) и прочую информацию, являющуюся производственной тайной; информацию об изобретениях, технологиях, программах и оборудовании, программном обеспечении, а также схемы, планы, таблицы и текстовые документы в письменной, электронной или иной форме.
      li К конфиденциальной информации по смыслу настоящей Политики относится информация Компании, которая включает в себя систематизированные сведения о внутренних заказчиках, подрядчиках, поставщиках, потребителях, покупателях, спонсорах, посредниках, клиентах и других партнерах деловых отношений Компании, а также о его конкурентах, а также любая другая информация, собранная сотрудниками или привлеченными Пользователями Компании; информация Пользователя, относящаяся к его персональным данным, включая, но не ограничиваясь вид, серия, номер документа, удостоверяющего личность, дата выдачи, наименование органа его, выдавшего, адрес и дата регистрации по месту жительства (месту пребывания), адрес фактического проживания, другому адресу, указанному в качестве адреса для использования Компанией или третьими лицами, связанными с Компанией, в процессе оказания услуг по Договору, номер контактного телефона или сведения о других способах связи, реквизиты страхового свидетельства обязательного пенсионного страхования, идентификационный номер налогоплательщика, сведения о семейном положении, составе семьи и о близких родственниках (в том числе бывших), сведения о трудовой деятельности, сведения об образовании (когда и какие образовательные, научные и иные организации окончил, номера документов об образовании, направление подготовки или специальность по документу об образовании, квалификация), сведения об ученой степени, сведения о владении иностранными языками, уровень владения, сведения об отсутствии у гражданина заболевания, препятствующего поступлению на государственную гражданскую службу или ее прохождению, сведения о прохождении государственной службы (работы), в том числе: дата, основания поступления на государственную службу (работу) и назначения на должность государственной службы, дата, основания назначения, перевода, перемещения на иную должность государственной службы (работы), наименование замещаемых должностей государственной службы с указанием структурных подразделений, размера денежного содержания (заработной платы), результатов аттестации на соответствие замещаемой должности государственной службы, а также сведения о прежнем месте работы, сведения о пребывании за границей, сведения о наличии или отсутствии судимости, сведения о профессиональной переподготовке и (или) повышении квалификации, сведения о доходах, расходах, об имуществе и обязательствах имущественного характера, а также о доходах, об имуществе и обязательствах имущественного характера членов семьи, номер банковской карты.
    h4.bold Способы обработки персональной информации
    p Обработка персональных данных Пользователя, осуществляемая без использования средств автоматизации, осуществляется таким образом, чтобы в отношении каждой категории персональных данных можно было определить места хранения персональных данных (материальных носителей). Компанией установлен перечень лиц, осуществляющих обработку персональных данных либо имеющих к ним доступ. Обеспечивается раздельное хранение персональных данных (материальных носителей), обработка которых осуществляется в различных целях. Компания обеспечивает сохранность персональных данных и принимает меры, исключающие несанкционированный доступ к персональным данным.
    p Обработка персональных данных Пользователя, осуществляемая с использованием средств автоматизации, проводится при условии выполнения следующих действий:
    ol
      li Компания проводит технические мероприятия, направленные на предотвращение несанкционированного доступа к персональным данным и (или) передачи их лицам, не имеющим права доступа к такой информации;
      li Защитные инструменты настроены на своевременное обнаружение фактов несанкционированного доступа к персональным данным;
      li Технические средства автоматизированной обработки персональных данных изолированы в целях недопущения воздействия на них, в результате которого может быть нарушено их функционирование;
      li Компания производит резервное копирование данных с тем, чтобы иметь возможность незамедлительного восстановления персональных данных, модифицированных или уничтоженных вследствие несанкционированного доступа к ним; осуществляет постоянный контроль за обеспечением уровня защищенности персональных данных.
    h4.bold Передача персональных данных
    p Передача персональных данных третьим лицам (в том числе трансграничная передача) допускается с письменного согласия субъектов персональных данных, за исключением случаев, когда это необходимо в целях предупреждения угрозы жизни и здоровью субъектов персональных данных, а также в иных случаях, установленных законодательством Российской Федерации.
    h4.bold Меры, применяемые для защиты персональных данных пользователей
    p Компания принимает необходимые и достаточные организационные и технические меры для защиты персональных данных пользователя от неправомерного или случайного доступа, уничтожения, изменения, блокирования, копирования, распространения, а также от иных неправомерных действий с персональными данными третьих лиц.
    p Компания проводит следующие мероприятия:
    ol
      li Определяет угрозы безопасности персональных данных при их обработке, формирует на их основе модели угроз;
      li Осуществляет разработку на основе модели угроз системы защиты персональных данных, обеспечивающей нейтрализацию предполагаемых угроз с использованием методов и способов защиты персональных данных, предусмотренных для соответствующего класса информационных систем;
      li Формирует план проведения проверок готовности новых средств защиты информации к использованию с составлением заключений о возможности их эксплуатации;
      li Осуществляет установку и ввод в эксплуатацию средств защиты информации в соответствии с эксплуатационной и технической документацией;
      li Проводит обучение лиц, использующих средства защиты информации, применяемые в информационных системах, правилам работы с ними;
      li Осуществляет учет применяемых средств защиты информации, эксплуатационной и технической документации к ним, носителей персональных данных;
      li Осуществляет учет лиц, допущенных к работе с персональными данными в информационной системе;
      li Осуществляет контроль за соблюдением условий использования средств защиты информации, предусмотренных эксплуатационной и технической документацией;
      li Вправе инициировать разбирательство и составление заключений по фактам несоблюдения условий хранения носителей персональных данных, использования средств защиты информации, которые могут привести к нарушению конфиденциальности персональных данных или другим нарушениям, приводящим к снижению уровня защищенности персональных данных, разработку и принятие мер по предотвращению возможных опасных последствий подобных нарушений; имеет описания системы защиты персональных данных.
    h4.bold Права и обязанности пользователя
    ol
      li Компания предпринимает меры для поддержания точности и актуальности имеющихся у нее персональных данных, а также удаления устаревших и других недостоверных или излишних персональных данных, тем не менее, Пользователь несёт ответственность за предоставление достоверных сведений, а также за обновление предоставленных данных в случае каких-либо изменений.
      li Пользователь имеет право требовать уточнения своих персональных данных, их блокирования или уничтожения в случае, если персональные данные являются неполными, устаревшими, недостоверными, незаконно полученными или не являются необходимыми для заявленной цели обработки, а также принимать предусмотренные законом меры по защите своих прав.
      li Пользователь вправе в любой момент отозвать согласие на обработку персональных данных путём направления письменного уведомления на электронный адрес: info@top-tax.ru с пометкой «отзыв согласия на обработку персональных данных»
      li Компания обязана осуществить блокирование персональных данных, относящихся к соответствующему Пользователю, с момента обращения или запроса Пользователя или его законного представителя либо уполномоченного органа по защите прав субъектов персональных данных на период проверки, в случае выявления недостоверных персональных данных или неправомерных действий.
      li Пользователь может в любой момент изменить (обновить, дополнить) предоставленную им персональную информацию или её часть, а также параметры её конфиденциальности путем обращения в компанию.
      li Пользователь имеет право на получение информации, касающейся обработки его персональных данных в Компании, для чего вправе направить письменный запрос на адрес: с пометкой «запрос информации о порядке обработки персональных данных».
      li Пользователь имеет право обжаловать в уполномоченный орган по защите прав субъектов персональных данных или в судебном порядке неправомерные действия или бездействия при обработке его персональных данных;
      li Пользователь имеет право на защиту своих прав и законных интересов, в том числе на возмещение убытков и (или) компенсацию морального вреда в судебном порядке
    h4.bold Заключительные положения
    p Настоящая Политика является внутренним документом ООО «Налоговые консультации», ОГРН: 1192130010874 и подлежит размещению на официальном сайте, размещенном в сети интернет, по адресу: https://top-tax.ru/
    p Юридический адрес: 428015, Чувашская Республика - Чувашия, город Чебоксары, улица Пирогова, дом 1 корпус 4, помещение/офис 4/3.  Контроль исполнения требований настоящей Политики осуществляется ответственным за обеспечение безопасности персональных данных – Дмитриевым Андреем Анатольевичем.
