extends ./_layout/layout

block header
  #header
    a.logo-link(href="/")
      img.logo(src="/img/logotype_blue.svg", alt="")
    if user
      .user-menu
        a.menu-item(href="/declarations") Ваши декларации
        a.username #{ user.email }
        .menu
          a(href="/declaration/new") Новая декларация
          a(href="/declarations") Ваши декларации
          a.grey(href="/logout") Выход
    else
      .authentificate-menu
        a.button.login(href='/login') Вход
        a.button.button--blue.signup(href='/signup') Регистрация
    .burger
      .burger-menu
        if user
          a.button(href="/declaration/new") Новая декларация
          a.button(href="/declarations") Ваши декларации
          a.button.grey(href="/logout") Выход
        else
          a.button.login(href='/login') Вход
          a.button.button--blue.signup(href='/signup') Регистрация
      a.round-button.round-button--white.burger-button(href="#")
        img.open(src="/img/icons/burger_open.svg")
        img.close(src="/img/icons/burger_close.svg")

block content
  #article
    h2 Публичное предложение (оферта) к заключению договора на оказание услуг на сайте
    p На условиях настоящего публичного предложения к заключению договора ООО “Налоговые консультации”, в лице директора Дмитриева Андрея Анатольевича, действующего на основании Устава, именуемое в дальнейшем «Исполнитель», обязуется оказать услуги на сайте top-tax.ru любому физическому лицу (далее по тексту “Заказчик”, “Пользователь”), акцептовавшему настоящее публичное предложение (далее по тексту «Договор») в соответствии с указанными ниже условиями. При совместном упоминании Исполнитель и Заказчик далее именуются «Стороны».
    h4.bold Порядок получения акцепта условий настоящего Договора
    p Акцептом настоящего Договора является совершение Пользователем одного из следующих активных действий:
    ul
      li успешное завершение процедуры регистрации на сайте и/или завершение процедуры подачи заявки на получение услуг. Подтверждением факта совершения Заказчиком действия, указанного в настоящем пункте, является создание личного кабинета Пользователя с указанными при регистрации данными;
      li подписание Заказчиком письменного акцепта настоящей оферты в офисе Исполнителя или в офисе Партнеров Исполнителя.
    p Стороны признают, что достаточным доказательством факта совершения Заказчиком действий по ознакомлению с настоящим Договором является любое из указанных выше действий.
    h4.bold Предмет Договора
    p Предметом настоящего Договора является возмездное оказание Заказчику услуг одной из следующих или набора услуг:
    ul
      li Предоставление электронного сервиса по заполнению декларации формы 3-НДФЛ (утверждена Приказом ФНС России от 03.10.2018 № ММВ-7-11/569@)  за 1 (Один) календарный год на 1 (Одно) физическое лицо. Результатом данной услуги является предоставление Заказчику заполненной на основании заполненной им на сайте top-tax.ru анкеты декларации формы 3-НДФЛ (утверждена Приказом ФНС России от 03.10.2018 № ММВ-7-11/569@) и заявления о предоставлении налогового вычета, адресованного в соответствующую Инспекцию ФНС России.
      li Заполнение Исполнителем налоговой декларации по налогу на доходы физических лиц по форме 3-НДФЛ (утверждена Приказом ФНС России от 03.10.2018 № ММВ-7-11/569@) и заявления о предоставлении налогового вычета, адресованного в соответствующую Инспекцию ФНС России, за 1 (Один) календарный год производится на основании сведений, представленных Заказчиком. Срок оказания услуги – 7 (Семь) рабочих дней с момента заполнения Заказчиков анкеты на сайте top-tax.ru и оплаты стоимости услуги.
    p Результатом услуги является заполненная на имя Заказчика или иного лица налоговая декларация по форме 3-НДФЛ (утверждена Приказом ФНС России от 03.10.2018 № ММВ-7-11/569@) на основе профессионального суждения Исполнителя, а также заполненное на имя Заказчика или иного лица заявление о предоставлении налогового вычета, адресованного в соответствующую Инспекцию ФНС.
    h4.bold Стоимость услуг и порядок расчетов
    ol
      li Стоимость услуги по заполнению Исполнителем одной декларации 3-НДФЛ (утверждена Приказом ФНС России от 03.10.2018 № ММВ-7-11/569@) и одного заявления о предоставлении налогового вычета, адресованного в соответствующую Инспекцию ФНС России, за 1 (Один) календарный год на основании заполненной  Заказчиком на сайте top-tax.ru анкеты, составляет 100 (Сто) рублей.
      li Заказчик оплачивает услуги путем внесения аванса равного 100% стоимости услуги.
      li Стоимость услуги указана за одну декларацию за один календарный на одно физическое лицо год. Стоимость услуг не облагается НДС.
      li Оплата услуг Исполнителя производится с использованием электронных платежных систем и/или электронных средств платежа.
    h4.bold Права и обязанности Исполнителя
    p.bold Исполнитель обязан:
    ol
      li Предоставить полную информацию на сайте top-tax.ru о содержании услуг. Данная информация размещена на сайте Исполнителя top-tax.ru.
      li Руководствоваться при оказании услуг по заполнению деклараций законодательством РФ.
      li Обеспечить оказание услуг согласно условиям, предусмотренным настоящим Договором.
    p.bold Исполнитель имеет право:
    ol
      li Получать оплату своих услуг на условиях, предусмотренных настоящим Договором.
      li Изменять в одностороннем порядке стоимость своих Услуг, с немедленной публикацией уведомления об этом на сайте top-tax.ru.
      li В одностороннем порядке вносить изменения в настоящий Договор при условии размещения текста таких изменений (текста Договора в новой редакции) на сайте Исполнителя top-tax.ru.
      li Иметь субъективное профессиональное суждение относительно данных Заказчика, отраженных в декларации. Несогласие Заказчика с мнением Исполнителя не является основанием для отказа от Договора и не может быть признано некачественным оказанием услуги.
      li Изменения и дополнения к настоящему Договору становятся неотъемлемой частью настоящего Договора с момента их вступления в силу.
      li Приостанавливать работу сайта для проведения профилактических работ, по возможности, в ночное время или выходные дни.
    h4.bold Права и обязанности Заказчика
    p.bold Заказчик обязан:
    ol
      li Оплачивать услуги Исполнителя в полном объеме и порядке, предусмотренном настоящим Договором.
      li Представлять Исполнителю достоверные и непротиворечивые данные и документы.
      li Обеспечить своими силами и за свой счет представление своей декларации и заявления в соответствующий налоговый орган.
      li Обеспечить сохранность своего логина и пароля, которые обеспечивают доступ к своему личному кабинету на сайте top-tax.ru. Заказчику запрещено передавать или разглашать третьим лицам логин и (или) пароль от личного кабинета на сайте top-tax.ru. Исполнитель не несет ответственности, если доступ в личный кабинет Заказчика получен третьими лицами с помощью ввода соответствующей пары в виде логина и пароля.
      li Обеспечить соответствие своих технических средств и программного обеспечения требованиям, предъявляемым Исполнителем. Для корректной работы в электронном сервисе необходимо наличие браузера с актуальной версией. Рекомендуемые браузеры: Chrome, Enternet Explorer, Opera, Mozilla Firefox.
    p.bold Заказчик имеет право:
    ol
      li Использовать сервис в соответствии с его назначением.
      li Обращаться в службу поддержки сервиса по техническим вопросам.
      li Пользоваться услугами консультаций в порядке, предусмотренном настоящим Договором.
    h4.bold Порядок оказания услуг
    ol
      li Услуга по заполнению Исполнителем одной декларации 3-НДФЛ (утверждена Приказом ФНС России от 03.10.2018 № ММВ-7-11/569@) и одного заявления о предоставлении налогового вычета, адресованного в соответствующую Инспекцию ФНС России, за 1 (Один) календарный год предоставляется на основании заполненной  Заказчиком на сайте top-tax.ru анкеты и налогового законодательства РФ (пункт 2.1 настоящего Договора)
      li Доступ Заказчика к электронному сервису и личному кабинету осуществляется на основе регистрации путем ввода логина и пароля.
      li Заказчик может обратиться к Исполнителю за подготовкой декларации силами Исполнителя.
      li Заказчик обязуется заполнить анкету, размещенную на сайте top-tax.ru.
      li Консультации, требующие профессионального суждения Исполнителя, могут быть оказаны в рамках предоставления услуги, предусмотренной п.2.1 настоящего Договора.
    h4.bold Порядок оплаты услуг Исполнителя и порядок возврата средств
    ol
      li Заказчик оплачивает услуги Исполнителя путем перечисления 100% аванса от стоимости выбранной услуги.
      li Оплата услуг Исполнителя производится с использованием электронной платежной системы и/или электронных средств платежа, а также, через оператора-кассира, банкоматы, онлайн-банк.
      li Возврат денежных средств осуществляется Исполнителем в течение 10 (Десяти) рабочих дней в порядке, предусмотренном настоящим Договором. Сроки могут быть увеличены на время, необходимое Заказчику для загрузки электронных копий паспорта и реквизитов счета, в случае если платеж осуществлялся через оператора-кассира, банкоматы, онлайн-банк.
      li Для осуществления возврата денежных средств Заказчику необходимо направить на info@top-tax.ru заявление о возврате денежных средств с указанием необходимых данных и причины возврата.
      li Возврат денежных средств осуществляется в случае оказания некачественных услуг (п. 8.2 Договора).
      li Денежные средства за не оказанную услугу удерживаются в полном объеме по истечению 3х лет со дня оплаты услуги (в соответствии с п. 1 ст. 196 Гражданского кодекса РФ).
      li Денежные средства возвращаются на ту же банковскую карту, с которой Заказчик оплачивал услугу. Если платеж осуществлялся через оператора-кассира, банкомат, онлайн банк, или на момент возврата банковская карта, с которой оплачивалась услуга уже не действует, то для оформления возврата Заказчик загружает на info@top-tax.ru электронные копии паспорта и реквизиты счета.
    h4.bold Ответственность Сторон
    ol
      li В случае невыполнения или ненадлежащего выполнения своих обязательств Стороны несут ответственность в соответствии с положениями настоящего Договора и действующего законодательства РФ.В случае невыполнения или ненадлежащего выполнения своих обязательств Стороны несут ответственность в соответствии с положениями настоящего Договора и действующего законодательства РФ.
      li Учитывая объективное существование различных подходов по толкованию норм налогового законодательства Стороны соглашаются, что под некачественной услугой будет пониматься вступившее в силу решение суда о неправомерности заявленных в декларации Заказчика, в отношении которой оказывались Исполнителем услуга по п.2.1, сумм или иных показателей, приведших к отказу в налоговых вычетах и (или) доначислению налога. При наличии такого решения суда услуга считается качественной, если Заказчик не использовал рекомендации, данные Исполнителем, например по исправлению документов или получению дополнительных документов.Учитывая объективное существование различных подходов по толкованию норм налогового законодательства Стороны соглашаются, что под некачественной услугой будет пониматься вступившее в силу решение суда о неправомерности заявленных в декларации Заказчика, в отношении которой оказывались Исполнителем услуга по п.2.1, сумм или иных показателей, приведших к отказу в налоговых вычетах и (или) доначислению налога. При наличии такого решения суда услуга считается качественной, если Заказчик не использовал рекомендации, данные Исполнителем, например по исправлению документов или получению дополнительных документов.
      li Ответственность Исполнителя ограничивается суммой, полученной от Заказчика за оказание услуг.Ответственность Исполнителя ограничивается суммой, полученной от Заказчика за оказание услуг.
      li В случае полного неисполнения Исполнителем своих обязательств по настоящему Договору Исполнитель возвращает Заказчику перечисленные Заказчиком денежные средства на основании заявления Заказчика в течение 30 дней с момента получения претензии. При оплате услуг банковской картой возврат денег производится исключительно на ту же банковскую карту, с которой поступила оплата.В случае полного неисполнения Исполнителем своих обязательств по настоящему Договору Исполнитель возвращает Заказчику перечисленные Заказчиком денежные средства на основании заявления Заказчика в течение 30 дней с момента получения претензии. При оплате услуг банковской картой возврат денег производится исключительно на ту же банковскую карту, с которой поступила оплата.
      li Стороны предпринимают все необходимые меры по урегулированию споров и разногласий путем переговоров.Стороны предпринимают все необходимые меры по урегулированию споров и разногласий путем переговоров.
      li Если Сторонам не удается решить споры и разногласия путем переговоров, данные споры и разногласия подлежат рассмотрению в Московском районном суде г. Чебоксары Чувашской Республики.Если Сторонам не удается решить споры и разногласия путем переговоров, данные споры и разногласия подлежат рассмотрению в Московском районном суде г. Чебоксары Чувашской Республики.
    h4.bold Срок действия и порядок расторжения Договора
    ol
      li Договор вступает в силу с момента его акцепта Заказчиком и действует до полного и надлежащего выполнения Сторонами своих обязательств.
      li Стороны пришли к взаимному согласию о том, что настоящий Договор может быть расторгнут в порядке, предусмотренном действующим законодательством РФ и положениями настоящего Договора.
      li Услуги предоставляются для личного использования Заказчиком.
    h4.bold реквизиты
    p Исполнитель: ООО «Налоговые консультации»
    p ОГРН 1192130010874
    p ИНН/КПП: 2130214381/213001001
    p Юридический адрес: 428015 г. Чебоксары, ул. Пирогова, д.1, корп.4, помещение/офис: 4/3
    p Почтовый адрес: 428015 г. Чебоксары, ул. Пирогова, д.1, корп.4, помещение/офис: 4/3
    p Телефон: 8 (800) 201 65 84
    p E-mail: info@top-tax.ru
    p р/с №40702810375000009227 в дополнительном офисе №8613/03 ПАО «Сбербанк» (БИК 049706609 к/с 30101810300000000609)
