extends ../_layout/empty

block content
  #login
    a(href="/")
      img.big-logo(src="/img/logotype.svg", alt="")
    h1 Подтверждение электронной почты
    p На ваш почтовый ящик #{ email } мы выслали письмо с регистрационной ссылкой. Пожалуйста кликните по ней.