extends ../_layout/empty

block content
  #login
    a.logo-link(href="/")
      img.logo(src="/img/logotype_blue.svg", alt="")
    h1 Вход
    form(action="#" id='login-form' method='post')
      if message.length
        p.message #{ message }
      .input-block
        input.input-field.input-filled(type="text" name='email')
        .input-label Электронная почта
      .input-block
        input.input-field.input-filled(type="password" name='password')
        .input-label Пароль
    .buttons
      button.button.button--blue(type='submit' form='login-form') Войти
      a.button(href="/signup") Зарегистрироваться