.cookie-agree
  p.small Продолжая пользоваться наш сайтом, вы даете согласие на обработку файлов cookie и соглашаетесь с
    a(href="/user_agreement")  политикой использования.
  a.cookie-agree-button(href="#") ок