#footer
  .top
    .logo
      img(src="/img/logotype_white.svg" width="42px")
    .menu
      a.item(href="/user_agreement") Публичная оферта
      a.item(href="/confidential") Политика обработки и защиты персональных данных
      a.item(href="/legal") Юридическая информация
    .contact
      .phones
        .phone +7 953 010-05-63
        .phone 8 800 201-65-84
      a.mail(href="mailto:support@top-tax.ru") написать письмо
  .bottom
    .copyright ©2019-2020. ООО «Налоговые консультации». Все права защищены.
      .span.address.small.grey ОГРН: 1192130010874, ИНН: 2130214381, КПП: 213001001
    .social
      a(href="https://fb.me/toptax.ru" target="_blank")
        img(src="/img/icons/social/fb.svg" width="30px" height="30px")
      a(href="https://instagram.com/toptax.ru" target="_blank")
        img(src="/img/icons/social/ig.svg" width="30px" height="30px")
      a(href="https://vk.com/toptax" target="_blank")
        img(src="/img/icons/social/vk.svg" width="30px" height="30px")
      a(href="https://ok.ru/group/56968186888273" target="_blank")
        img(src="/img/icons/social/ok.svg" width="30px" height="30px")
      a(href="https://t.me/toptax777" target="_blank")
        img(src="/img/icons/social/tg.svg" width="30px" height="30px")
    .payment
      img.visa(src="/img/icons/visa.svg" width="51px")
      img.mastercard(src="/img/icons/mastercard.svg" width="40px")