#header
  img.logo(src="/img/logotype.svg", alt="")
  .right
    a(href="#")
      p.green.bold новая декларация
    .divider
    p.dark.bold #{user.email}
    a.menu-button(href="#")
      i.green.fal.fa-chevron-circle-down
  a.burger(href="#")
    i.far.fa-bars