.steps
  a.step.step--filled(href='#')
    .circle
      p 1
    .line
    .small данные о физ лице
  a.step.step--notfilled(href='#')
    .circle
      p 2
    .line
    .small данные о работодателе и доходах
  a.step.step--filled(href='#')
    .circle
      p 3
    .line
    .small стандартный вычет
  a.step.step--current(href='#')
    .circle
      p 4
    .line
    .small социальный вычет
  a.step(href='#')
    .circle
      p 5
    .line
    .small имущественный вычет
  .full-line