form.form(name="teach_child" id="teach_child--" + index)
  a.remove-form
  .documents
  .form-part
    .form-part-header
      a.header Затраты на обучение ребенка, возрастом до 24 лет
        .toggle-conditions показать условия
      ul.conditions
        li У учебного заведения должна быть лицензия на осуществление образовательной деятельности
        li Ребенок должен быть на очной форме обучения (детский сад, школа, очная форма вуза и т.п.)
        li В договоре на оказание образовательных услуг родитель должен быть указан в качестве заказчика и плательщика
        li Платежные документы (квитанции, приходно-кассовые ордера и т.п.) должны быть также оформлены на имя родителя
        li Оплата за обучение не должна быть произведена за счет материнского капитала
    .row
      .col-xs-12.col-sm-6.col-md-4
        .input-block
          input.input-field(type="number" name='amount' value=teach.amount class=teach.amount?'input-filled':'')
          .input-label Сумма, руб.