doctype html
html
  head
    title= "TOP-TAX - первый, полностью автоматизированный сервис по заполнению налоговой декларации 3-НДФЛ"
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel='stylesheet', type='text/css', href='/css/normalize.css')
    link(rel='stylesheet', type='text/css', href='/css/flexboxgrid.min.css')
    link(rel='stylesheet', type='text/css', href='/css/style.css')
  body
    block content
    script(type='text/javascript', src='/js/jquery-3.4.1.min.js')
    script(type='text/javascript', src='/js/luxon/luxon.min.js')
    script(type='text/javascript', src='/js/admin.js')