doctype html
html
  head
    title= "TOP-TAX - первый, полностью автоматизированный сервис по заполнению налоговой декларации 3-НДФЛ"
    if env.NODE_ENV === "production"
      script(type="text/javascript", src='/js/metrika.js')
      meta(name="yandex-verification" content="ba1109cf0f9e1241")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel='stylesheet', type='text/css', href='/css/normalize.css')
    link(rel='stylesheet', type='text/css', href='/css/flexboxgrid.min.css')
    link(rel='stylesheet', type='text/css', href='/js/flatpickr/flatpickr.min.css')
    link(rel='stylesheet', type='text/css', href='/js/suggestions/css/suggestions.min.css')
    link(rel='stylesheet', type='text/css', href='/js/chocolat/css/chocolat.css', media="screen")
    link(rel='stylesheet', type='text/css', href='/js/toastr/toastr.min.css')
    link(rel='stylesheet', type='text/css', href='/js/jbox/jBox.all.min.css')
    link(rel='stylesheet', type='text/css', href='/js/vex/vex.css')
    link(rel='stylesheet', type='text/css', href='/js/vex/vex-theme-wireframe.css')
    link(rel='stylesheet', type='text/css', href='/css/style.css')
  body
    #page
      block header
      block content
    include ../_blocks/footer
    script(type='text/javascript', src='/js/jquery-3.4.1.min.js')
    script(type='text/javascript', src='/js/jquery.serializejson.js')
    script(type='text/javascript', src='/js/flatpickr/flatpickr.js')
    script(type='text/javascript', src='/js/flatpickr/ru.js')
    script(type='text/javascript', src='/js/jquery.mask.min.js')
    script(type='text/javascript', src='/js/chocolat/js/jquery.chocolat.min.js')
    script(type='text/javascript', src='/js/toastr/toastr.min.js')
    script(type='text/javascript', src='/js/jbox/jBox.all.min.js')
    script(type='text/javascript', src='/js/vex/vex.combined.min.js')
    script(type='text/javascript', src='/js/luxon/luxon.min.js')
    script(type='text/javascript', src='/js/suggestions/js/jquery.suggestions.min.js')
    script(type='text/javascript', src='/js/script.js')
    block js